extends layout

block content
  div.container
    h1= title
    
    table.table.table-hover
      thead
        tr
          th(scope='col') ID
          th(scope='col') Content
          th(scope='col') Completed
      tbody
        each val, index in todos
          tr
            th(scope="row")
               a(href="/todos/todoid/"+val.todoid) #{todos.length - index}
            td
              :markdown-it(linkify langPrefix='highlight-')
                var.content
            td #{val.completed}