extends layout

block content
  div.container
    form(action='/upload' method='post' enctype="multipart/form-data")
      input.form-control(type='file' name='file')
      input.form-control(type='submit')