/* 나눔고딕 코딩 */	
/*@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);*/
/* Noto Sans KR */
/*@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);*/
body {
  padding: 50px;
  font: 14px "Noto Sans KR", "Nanum Gothic Coding", "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
