div.col-sm-3.offset-sm-1.blog-sidebar
  div.sidebar-module.sidebar-module-inset
    h4 About
    p Heungno 
      em 
      | 가즈아 흥노야 갈수있다 가즈아 
  // /.sidebar-module-inset
  
  div.sidebar-module
    h4 Archives
    ol.list-unstyled
      li
        a(href="#") 2017-12
      li 
        a(href="#") 2018-01
      li   
        a(href="#") 2018-02
  // /.sidebar-module
  
  div.sidebar-module
    h4 Elsewhere
    ol.list-unstyled
      li
        a(href="https://github.com/Heungno/blog", target="_blank") GitHub
      li 
        a(href="#") Twitter
      li 
        a(href="#") Facebook 

  div.sider-module
    //h4 채팅
    //div.form-group.row
      textarea#chatLog.form-control
      form
        div.form-group.row
          input.col-sm-3.form-control(type="text", placeholder="이름")
          input.col-sm-9.form-control(type="text", placeholder="내용을 입력하세요")
    
    iframe(src="/chat/side", style="height:500px; width:100%; border:0px; margin-bottom:80px")
  // /.sidebar-module
// /.blog-sidebar        
