div.col-sm-3.offset-sm-1.blog-sidebar
  div.sidebar-module.sidebar-module-inset
    h4 About
    p Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.
  // /.sidebar-module-inset
  
  div.sidebar-module
    h4 Archives
    ol.list-unstyled
      li
        a(href="#") 2017-12
      li 
        a(href="#") 2018-01
      li   
        a(href="#") 2018-02
  // /.sidebar-module
  
  div.sidebar-module
    h4 Elsewhere
    ol.list-unstyled
      li
        a(href="https://github.com/Heungno/blog", target="_blank") GitHub
      li 
        a(href="#") Twitter
      li 
        a(href="#") Facebook 
  // /.sidebar-module
// /.blog-sidebar        