extends layout

block content
  div.container
    h1= title
    
    table.table.table-hover
      thead
        tr
          th(scope='col') ID
          th(scope='col') Content
          th(scope='col') Content
          th(scope='col') Completed
        